bellman_ford
scan.pdf
bellman_ford_graph_gen

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.snm
pres.pdf
main.pdf
*.nav
*.vrb
